.ques {
    display: flex;
   
    border-top:3px solid #e7aeae ;
    border-bottom:3px solid #e7aeae ;
    padding: 20px 0 20px 0;
    
    
    h1{
        height: 270px;
        margin-right: 20px;
        padding: 8px;
         background-color: #f0ebe1;
    }
   
}
.accordion {
    width: 100%;
}
.item_accor {
    background-color: #f0ebe1;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.title_accor {
    color: #85662b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content_accor {
    color: #8b7f75;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content_accor .show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
