.slideBar {
    width: auto;
    height: 500px;
}

.overview {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #d46060;
    h1 {
        padding: 0;
    }
}

// .ques {
//     display: flex;

//     border-top: 3px solid #e7aeae;
//     border-bottom: 3px solid #e7aeae;
//     padding: 20px 0 20px 0;

//     h1 {
//         height: 270px;
//         margin-right: 20px;
//         padding: 8px;
//     }
// }
.rollback{
    margin-top: 20px;
    &:hover {
        text-decoration: underline;
        color: blue;
      }

}
.img-main {
    max-height: 500px; /* Chiều cao tối đa của hình ảnh chính */
    width: 100%; /* Giữ nguyên tỷ lệ khung hình */
  }
.rate{
    display: flex;
        p{
            padding-right: 5px;
        }
}
.accordion {
    width: 100%;
}
.item_accor {
    margin-bottom: 5px;
    padding: 10px 20px;
}

.title_accor {
    color: #070707;
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.content_accor {
    color: #8b7f75;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content_accor .show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.content_card {
   
    margin-top: 20px;
}
.card {
    width: 100%;
   
}
.card1 {
    width: 50%;
    margin-left: 20px;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
    // font-size: 14px;
}

.main {
    text-align: center;
    margin-top: 30px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_row {
    justify-content: center;
    display: flex;
    padding-top: 20px;
}

.thumbnail {
    padding-left: 20px;
}
.thumbnail img {
    cursor: pointer;
    max-height: 150px; 
    width:190px; 
  }

.clicked {
    cursor: pointer;
    border: 5px solid black;
}

.btns {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background: grey;
    margin: 0 10px;
}

